
h1{
	margin: 5px;
	padding: 5px;
    color: black;
	text-align: center;
	text-transform: uppercase;
}	

body{
	background: #000000;
}


table{

	margin: 5px: 
	padding: 5px;	
	width: 750px;
	height: 700px;
	background: #F8F8FF;
}



p{
	padding: 2px;
	color: #000000;
	text-align: left;
}
.submit{
	background: black;
	text-align: center;
}
img{
	margin-right: 1px;
}
