.h{
	background-color: green
}
h2{
	color: green;
}

.he{
	background-color: yellow;
}

.Ne{
	background-color: yellow;
}
.Ar{
	background-color: yellow;
}
.Kr{
	background-color: yellow;
}

h1{
	font-family: Arial;
	color: red
}
body{
	background-color: #808080;
}